<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyberapes.apes.core.mapper.ICoreMapper">

    <select id="findUserById" parameterType="com.cyberapes.apes.core.entity.CoreVO"
        resultType="com.cyberapes.apes.core.entity.CoreVO">
        SELECT
            user_id AS userId,
            user_name AS userName
        FROM T_USER
        WHERE USER_ID = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>

