.search {
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all .3s;
  font-size: 16px;
  color: #000;
}

.icon {
  font-size: 16px;
  padding: 5px;
  height: 100%;
}

.input {
  width: 0px;
  height: 24px;
  margin-left: 5px;
  transition: width 0.3s;
  -moz-transition: width 0.3s; /* Firefox 4 */
  -webkit-transition: width 0.3s; /* Safari 和 Chrome */
  -o-transition: width 0.3s; /* Opera */
}

.show {
  width: 220px;
}

.input input {
  border: none;
  border-bottom: 1px solid #d9d9d9 !important;
  padding: 0;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  transition: width .3s, margin-left .3s;
}

.input input:hover, .input input:focus {
  border-bottom: 1px solid #d9d9d9 !important;
}
